:root{
  /* Banner container */
  --cookie-banner-background-color: #fff;

  /* Banner title */
  --cookie-title-color: #000;
  --cookie-title-font-size: 32px;
  
  /* Banner body text */
  --cookie-description-color: #54565a;
  --cookie-description-font-size: 18px;

  /* Accept button */	
  --cookie-accept-color: #fff;
  --cookie-accept-hover-color: #fff;
  --cookie-accept-background-color: #23085a;
  --cookie-accept-background-hover-color: #16043B;
  --cookie-accept-border-color: #23085a;
  --cookie-accept-border-width: 2px;
  --cookie-accept-border-radius: 6px;
  --cookie-accept-font-size: 16px;
  --cookie-accept-order: 1;

  /* Reject button */
  --cookie-reject-color: #fff;
  --cookie-reject-hover-color: #fff;
  --cookie-reject-background-color: #23085a;
  --cookie-reject-background-hover-color: #16043B;
  --cookie-reject-border-color: #23085a;
  --cookie-reject-border-width: 2px;
  --cookie-reject-border-radius: 6px;
  --cookie-reject-font-size: 16px;
  --cookie-reject-order: 2;
  
  /* Cookie settings button */
  --cookie-settings-color: #23085a;
  --cookie-settings-hover-color: #23085a;
  --cookie-settings-background-color: transparent;
  --cookie-settings-background-hover-color: #eee;
  --cookie-settings-border-color: #23085a;
  --cookie-settings-border-width: 2px;
  --cookie-settings-border-radius: 6px;
  --cookie-settings-font-size: 16px;

}

/* OneTrust container */
#onetrust-consent-sdk {
  font-size: 18px;
}

#onetrust-consent-sdk #onetrust-banner-sdk{
  background-color: var(--cookie-banner-background-color, #fff);
}

/* Floating container */
#onetrust-banner-sdk.otFloatingRounded {
  border-radius: 0px;
  width: 100%;
  max-width: none;
  left: 0 !important;
  bottom: 0 !important;
}

#onetrust-banner-sdk .ot-sdk-container {
  max-width: 960px;
  margin: auto;
}

/* H1 and p container */
#onetrust-banner-sdk #onetrust-policy {
  margin-top: 30px;
}

#onetrust-banner-sdk #onetrust-policy-title {
  font-size: var(--cookie-title-font-size, 32px);
  font-family: "BCSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--cookie-title-color, #23085a);
}

#onetrust-banner-sdk #onetrust-policy-text,
#onetrust-banner-sdk .ot-b-addl-desc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: var(--cookie-description-font-size, 18px);
  line-height: 150%;
  color: var(--cookie-description-color, #54565a);
}

/* Button group */
#onetrust-button-group{
  display: flex;
  padding-bottom: 12px;
  gap: 12px;
  float: none !important;
}

#onetrust-banner-sdk #onetrust-button-group-parent {
  margin-bottom: 30px;
}

/* Accept/Reject Button group */
#onetrust-banner-sdk .onetrust-banner-options {
  display: flex;
  gap: 12px;
  float: left;
  max-width: 100%;
}

/* Buttons */
#onetrust-banner-sdk button {
  padding: 16px 40px !important;
  font-family: Arial;
  font-style: normal;
  font-weight: bold !important;
  text-align: center !important;
  line-height: 150% !important;
  
  line-height: 100%;
  text-align: center;
  margin: 0 !important;
}
/* Accept button */
#onetrust-accept-btn-handler,
#accept-recommended-btn-handler,
.save-preference-btn-handler {
  order: var(--cookie-accept-order, 1);
  border: var(--cookie-accept-background-color, #23085a) solid 2px !important;
  border-radius: var(--cookie-accept-border-radius, 6px) !important;
  background-color: var(--cookie-accept-background-color, #23085a) !important;
  font-size: var(--cookie-accept-font-size, 16px) !important;
}
#onetrust-accept-btn-handler:hover,
#accept-recommended-btn-handler:hover,
.save-preference-btn-handler:hover {
  background-color: var(--cookie-accept-background-hover-color, #16043b) !important;
  opacity: 1 !important;
}

/* Reject button */
#onetrust-reject-all-handler {
  order: var(--cookie-reject-order, 2);
  background-color: var(--cookie-reject-background-color, #23085a) !important;
  border: var(--cookie-reject-background-color, #23085a) solid 2px !important;
  border-radius: var(--cookie-reject-border-radius, 6px) !important;
  font-size: var(--cookie-reject-font-size, 16px) !important;
}
#onetrust-reject-all-handler:hover {
  background-color: #16043b !important;
  background-color: var(--cookie-reject-background-hover-color, #23085a) !important;
  opacity: 1 !important;
}
/* Cookie settings */
#onetrust-pc-btn-handler.cookie-setting-link {
  margin: 0 !important;
  min-width: none !important;
  width: auto !important;
  color: var(--cookie-settings-color, #23085a) !important;
  background-color: transparent !important;
  border: var(--cookie-settings-border-width, 2px) solid var(--cookie-settings-border-color, #23085a) !important;
  border-radius: var(--cookie-settings-border-radius, 6px) !important;
  font-size: var(--cookie-settings-font-size, 16px) !important;
  text-decoration: none !important;
  text-align: center !important;
  line-height: 150% !important;
}

#onetrust-pc-btn-handler.cookie-setting-link:hover {
  color: var(--cookie-settings-hover-color, #23085a) !important;
  background-color: var(--cookie-settings-background-hover-color, #eee) !important;
  opacity: 1 !important;
}


/* --- MOBILE --- */
@media only screen and (max-width: 640px) {
  /* OneTrust container */
  #onetrust-consent-sdk {
    font-size: 16px;
  }

  /* button group */
  #onetrust-button-group{
     flex-direction: column;
  }

  /* cookie banner Title */
  #onetrust-banner-sdk #onetrust-policy-title {
    font-size: 1.75rem;
  }

  /* cookie banner button group */
  #onetrust-banner-sdk .onetrust-banner-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 100%;
  }

  #onetrust-pc-btn-handler.cookie-setting-link {
    width: 100% !important;
  }

  /* cookie banner buttonS */
  #onetrust-banner-sdk button {
    width: 100%;
  }
}


/* --- Cookie settings pop up --- */

/* Container */
#onetrust-pc-sdk{
  font-family: Arial;
  font-style: normal;
}

#onetrust-pc-sdk.otPcCenter{
  width: 100% !important;
  max-width: 900px !important;
}

/* H2, H3 */
#ot-pc-title,
#ot-category-title{
  color: black !important;
}

/* H2 */
#onetrust-pc-sdk #ot-pc-title {
  color: var(--cookie-title-color, #000) !important;
  float: left;
  font-size: 1.5rem !important;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 24px !important;
  width: 100%;
}

/* Description */
#onetrust-pc-sdk #ot-pc-desc{
  font-size: 1rem !important;
  color: var( --cookie-description-color, #54565a) !important;
}


#onetrust-pc-sdk button{
  padding: 16px 40px !important;
  font-family: Arial;
  font-style: normal;
  font-weight: bold !important;
  text-align: center !important;
  line-height: 150% !important;
  
  line-height: 100%;
  text-align: center;
}

/* footer */
#onetrust-pc-sdk .ot-pc-footer{
  background-color: white !important;
  z-index: 1 !important;
}
