:root{
  --cookie-banner-background-color: #fff;

  /* Accept button */	
  --cookie-accept-color: #fff;
  --cookie-accept-hover-color: #fff;
  --cookie-accept-background-color: #23085a;
  --cookie-accept-background-hover-color: #16043b;
  --cookie-accept-border-color: #23085a;
  --cookie-accept-border-width: 2px;
  --cookie-accept-font-size: 16px;

  /* Reject button */
  --cookie-reject-color: #23085a;
  --cookie-reject-hover-color: #23085a;
  --cookie-reject-background-color: transparent;
  --cookie-reject-background-hover-color: #eee;
  --cookie-reject-border-color: #23085a;
  --cookie-reject-border-width: 2px;
  --cookie-reject-font-size: 16px;
  
  /* Cookie settings button */
  --cookie-settings-color: #23085a;
  --cookie-settings-hover-color: #23085a;
  --cookie-settings-background-color: transparent;
  --cookie-settings-background-hover-color: #eee;
  --cookie-settings-border-color: #23085a;
  --cookie-settings-border-width: 2px;
  --cookie-settings-font-size: 16px;
  
  /* Banner title */
  --cookie-title-color: #000;
  --cookie-title-font-size: 32px;
  
  /* Banner body text */
  --cookie-description-color: #54565a;
  --cookie-description-font-size: 18px;
}

/* OneTrust container */
#onetrust-consent-sdk {
  font-size: 18px;
}

#onetrust-consent-sdk #onetrust-banner-sdk{
  background-color: var(--cookie-banner-background-color, #fff);
}

/* Floating container */
#onetrust-banner-sdk.otFloatingRounded {
  border-radius: 0px;
  width: 100%;
  max-width: none;
  left: 0 !important;
  bottom: 0 !important;
}

#onetrust-banner-sdk .ot-sdk-container {
  max-width: 960px;
  margin: auto;
}

/* H1 and p container */
#onetrust-banner-sdk #onetrust-policy {
  margin-top: 30px;
}

#onetrust-banner-sdk #onetrust-policy-title {
  font-size: var(--cookie-title-font-size, 32px);
  font-family: "BCSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--cookie-title-color, #23085a);
}

#onetrust-banner-sdk #onetrust-policy-text,
#onetrust-banner-sdk .ot-b-addl-desc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: var(--cookie-description-font-size, 18px);
  line-height: 150%;
  color: var(--cookie-description-color, #54565a);
}

/* Button group */
#onetrust-button-group{
  display: flex;
  padding-bottom: 12px;
  gap: 12px;
}

#onetrust-banner-sdk #onetrust-button-group-parent {
  margin-bottom: 30px;
}

/* Accept/Reject Button group */
#onetrust-banner-sdk .onetrust-banner-options {
  display: flex;
  gap: 12px;
  float: left;
  max-width: 100%;
	justify-content: space-between;
	flex: 1;

  order: 2;
}

/* Buttons */
#onetrust-banner-sdk button {
  border-radius: 6px !important;
  padding: 16px 40px !important;
  font-family: Arial;
  font-style: normal;
  font-weight: bold !important;
  
  line-height: 100%;
  /* identical to box height, or 16px */
  text-align: center;
  margin-bottom: 0;
}
/* Accept button */
#onetrust-accept-btn-handler {
  order: 3;
  border: var(--cookie-accept-background-color, #23085a) solid 2px !important;
  background-color: var(--cookie-accept-background-color, #23085a) !important;
  font-size: var(--cookie-accept-font-size, 16px) !important;
}
#onetrust-accept-btn-handler:hover {
  background-color: var(--cookie-accept-background-hover-color, #16043b) !important;
  opacity: 1 !important;
}

/* Reject button */
#onetrust-reject-all-handler {
  order: 2;
  margin: 0 !important;
  min-width: none !important;
  width: auto !important;
  color: var(--cookie-reject-color, #23085a) !important;
  background-color: var(--cookie-reject-background-color, #fff) !important;
  border: var(--cookie-reject-border-width, 2px) solid var(--cookie-reject-border-color, #23085a) !important;
  font-size: var(--cookie-reject-font-size, 16px) !important;
  text-decoration: none !important;
}

#onetrust-reject-all-handler:hover {
  color: var(--cookie-reject-hover-color, #23085a) !important;
  background-color: var(--cookie-reject-background-hover-color, #eee) !important;
  opacity: 1 !important;
}

/* Cookie settings */
#onetrust-pc-btn-handler{
  display: flex;
  order: 1;
}

#onetrust-pc-btn-handler.cookie-setting-link {
  margin: 0 !important;
  min-width: none !important;
  width: auto !important;
  color: var(--cookie-settings-color, #23085a) !important;
  background-color: var(--cookie-settings-background-color, transparent) !important;
  border: var(--cookie-settings-border-width, 2px) solid var(--cookie-settings-border-color, #23085a) !important;
  font-size: var(--cookie-settings-font-size, 16px) !important;
  text-decoration: none !important;
}

#onetrust-pc-btn-handler.cookie-setting-link:hover {
  color: var(--cookie-settings-hover-color, #23085a) !important;
  background-color: var(--cookie-settings-background-hover-color, #eee) !important;
  opacity: 1 !important;
}


/* --- MOBILE --- */
@media only screen and (max-width: 640px) {
  /* OneTrust container */
  #onetrust-consent-sdk {
    font-size: 16px;
  }

  /* button group */
  #onetrust-button-group{
    flex-direction: column;
  }

  /* cookie banner Title */
  #onetrust-banner-sdk #onetrust-policy-title {
    font-size: 1.75rem;
  }

  /* cookie banner button group */
  #onetrust-banner-sdk .onetrust-banner-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 100%;
  }

  #onetrust-pc-btn-handler.cookie-setting-link {
    width: 100% !important;
  }

  /* cookie banner buttonS */
  #onetrust-banner-sdk button {
    width: 100%;
  }


  #onetrust-banner-sdk #onetrust-policy-text{
    max-height: 400px;
    max-height: 50vh;
    overflow: auto;

  background:
  /* Shadow covers */
  linear-gradient(white 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
  
  /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0,0,0,.4), rgba(0,0,0,0)),
  radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.4), rgba(0,0,0,0)) 0 100%;

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.4), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.4), rgba(0,0,0,0)) 0 100%;

  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  }
  
  #onetrust-banner-sdk #onetrust-button-group-parent {
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;

  }
}
