/* DAMON */
/* 23/11/21: Added buttons: #accept-recommended-btn-handler .ot-pc-refuse-all-handler .save-preference-btn-handler.onetrust-close-btn-handler */
#onetrust-accept-btn-handler,
.button-theme,
#accept-recommended-btn-handler,
.ot-pc-refuse-all-handler,
.save-preference-btn-handler.onetrust-close-btn-handler {
  border-radius: 100px !important;
  background-color: #3d9026 !important;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 1em !important;
  letter-spacing: 0 !important;
  border-color: #3d9026 !important;
}

#onetrust-accept-btn-handler {
  box-shadow: none !important;
}
#ot-sdk-btn.ot-sdk-show-settings {
  font-size: 0.9em;
  background: var(--bc-sui-btn-primary-bg, #346e9e);
  border: 2px solid var(--bc-sui-btn-primary-bg, #346e9e);
  color: var(--bc-sui-btn-primary-color, #ffffff);
  border-radius: 100px;
  line-height: 1.3;
  padding: 0.96em 35px;
  margin-bottom: 30px;
}
#ot-sdk-btn.ot-sdk-show-settings:focus,
#ot-sdk-btn.ot-sdk-show-settings:hover {
  background: var(--bc-sui-btn-primary-hover-bg, #346e9e);
  border-color: var(--bc-sui-btn-primary-hover-bg, #346e9e);
  color: var(--bc-sui-btn-primary-hover-color, #ffffff);
}

/* Fix for TakeIELTS - added 9/7/21 */
.bc-subtheme-ielts #ot-sdk-btn.ot-sdk-show-settings {
  border: 2px solid #333;
}
.bc-subtheme-ielts #ot-sdk-btn.ot-sdk-show-settings:focus,
.bc-subtheme-ielts #ot-sdk-btn.ot-sdk-show-settings:hover {
  background-color: #e31837;
  border-color: transparent;
  color: #ffffff;
}
/* End Fix for TakeIELTS - added 9/7/21 */

#onetrust-consent-sdk #onetrust-banner-sdk {
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0;
  border-radius: 0;
  width: 100%;
}
#onetrust-consent-sdk #onetrust-policy-text {
  color: #fff;
  font-size: inherit;
  line-height: 1.5;
}
#onetrust-consent-sdk #onetrust-pc-btn-handler.cookie-setting-link {
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  padding-left: 0 !important;
}
#onetrust-consent-sdk #onetrust-pc-btn-handler.cookie-setting-link:hover,
#onetrust-consent-sdk #onetrust-pc-btn-handler.cookie-setting-link:focus {
  color: #9cf;
  text-decoration: underline;
}
#onetrust-cookie-btn-container {
  display: none;
}
#onetrust-banner-sdk #346E9E:focus {
  opacity: 1;
}
#onetrust-banner-sdk .banner-content {
  overflow-x: visible;
  overflow-y: visible;
}
#ot-sdk-cookie-policy h2,
#ot-sdk-cookie-policy h3,
#ot-sdk-cookie-policy h4,
#ot-sdk-cookie-policy h5,
#ot-sdk-cookie-policy h6 {
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #c2cbce;
  font-weight: 400;
  font-family: BCSans, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#ot-sdk-cookie-policy #cookie-policy-description,
#ot-sdk-cookie-policy p {
  line-height: 1.5;
}
#onetrust-banner-sdk #onetrust-close-btn-container-mobile .close-icon {
  margin: 10px 0;
}

#onetrust-policy-text a {
  color: #68b631 !important;
}
#onetrust-policy-text a:hover {
  color: #3d9026 !important;
  text-decoration: underline !important;
}

#onetrust-banner-sdk .close-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDIwIDIwIiBpZD0iaWNvbi1jYW5jZWwtY2lyY2xlZCI+IDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMCwxLjZjLTQuNjM5LDAtOC40LDMuNzYxLTguNCw4LjRjMCw0LjYzOSwzLjc2MSw4LjQsOC40LDguNHM4LjQtMy43NjEsOC40LTguNEMxOC40LDUuMzYxLDE0LjYzOSwxLjYsMTAsMS42egoJIE0xNC43ODksMTMuMDYxbC0xLjcyOSwxLjcyOUwxMCwxMS43MjlsLTMuMDYxLDMuMDZsLTEuNzI5LTEuNzI5TDguMjcyLDEwTDUuMjExLDYuOTM5TDYuOTQsNS4yMTFMMTAsOC4yNzFsMy4wNjEtMy4wNjEKCWwxLjcyOSwxLjcyOUwxMS43MjgsMTBMMTQuNzg5LDEzLjA2MXoiPjwvcGF0aD4gPC9zdmc+);
  width: 25px;
  height: 25px;
}
#onetrust-button-group {
  text-align: center !important;
}
#onetrust-banner-sdk #onetrust-reject-btn-container:empty {
  display: none !important;
}

#onetrust-accept-btn-container,
#onetrust-pc-btn-container {
  float: none !important;
  text-align: center !important;
  width: 100% !important;
}
#onetrust-pc-sdk ul li input[type="checkbox"] {
  width: 100% !important;
  height: 100% !important;
}
#ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy a,
#ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy a:hover {
  background: transparent;
}

/* Fix for overlapping buttons and text on the first banner v3 */
@media only screen and (min-width: 1024px) {
  #onetrust-banner-sdk:not(.vertical-align-content)
    #onetrust-button-group-parent {
    margin-left: 70%;
  }
  .rtl
    #onetrust-banner-sdk:not(.vertical-align-content)
    #onetrust-button-group-parent {
    margin-right: 70%;
  }
}
